{
    "semi": true,
    "singleQuote": true,
    "printWidth": 130,
    "vueIndentScriptAndStyle": false,
    "tabWidth": 4,
    "trailingComma": "all",
    "bracketSameLine": true,
    "singleAttributePerLine": false
}
